<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core">

    <Properties>
        <!-- Timestamp format for log files -->
        <Property name="log.timestamp">${date:yyyy-MM-dd_HH-mm-ss}</Property>
        <Property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %m%n</Property>
        <Property name="logs.dir">logs/classes</Property>
    </Properties>

    <Appenders>
        <!-- Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern}" />
        </Console>

        <!-- Root/General Log File -->
        <RollingFile name="RootFile" fileName="${logs.dir}/TestExecution_${log.timestamp}.log"
                     filePattern="${logs.dir}/TestExecution_${log.timestamp}-%i.log">
            <PatternLayout pattern="${log.pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>


    </Appenders>

    <Loggers>
        <!-- Per-Package Loggers with additivity=false to prevent duplicate logging -->
        <Logger name="StepDefinitions" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RootFile" />
        </Logger>

        <Logger name="Helper" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RootFile" />
        </Logger>

        <Logger name="Utils" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RootFile" />
        </Logger>

        <Logger name="Context" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RootFile" />
        </Logger>

        <Logger name="AllRunners" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RootFile" />
        </Logger>

        <!-- Root Logger as fallback only for unmatched packages -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RootFile" />
        </Root>
    </Loggers>

</Configuration>

