<div class="portal-container">

  <div class="portal-card">

    <div class="title">

      New Outlet Portal

    </div>

    <div class="description">

      To add new outlets of an existing
      brand, click below

    </div>

    <div class="create-btn-wrap">

      <ui-button

        variant="primary"

        size="lg"

        [label]="'Create New Application'"

        (click)="
          onCreateApplication()
        ">

      </ui-button>

    </div>

    <div class="or-text">

      OR

    </div>

    <div class="description">

      To view an existing Application,
      select from the below dropdown menu.

    </div>

    <div class="label">

      Existing Application Status:

    </div>

    <ui-select

      [options]="applicationOptions"

      placeholder="Application List"

      [(ngModel)]="
        selectedApplication
      ">

    </ui-select>

  </div>

</div>