<div
  class="pagination-container"
  *ngIf="rows.length > pageSize">

  <div class="record-info">

    Showing

    {{ startRecord }}

    -

    {{ endRecord }}

    of

    {{ rows.length }}

    records

  </div>

  <div class="pagination-buttons">

    <ui-button

      variant="ghost"

      size="sm"

      [label]="'Previous'"

      (click)="previousPage()"

      [disabled]="
        currentPage === 1
      ">

    </ui-button>

    <ui-button

      *ngFor="
        let page
        of pages
      "

      [variant]="
        currentPage === page ? 'primary' : 'ghost'
      "

      size="sm"

      [label]="page + ''"

      (click)="
        goToPage(page)
      ">

    </ui-button>

    <ui-button

      variant="ghost"

      size="sm"

      [label]="'Next'"

      (click)="nextPage()"

      [disabled]="
        currentPage === totalPages
      ">

    </ui-button>

  </div>

</div>