<div class="md-page">
  <div *ngIf="view === 'default'" class="md-form">
    <div class="md-field-row">
      <label class="md-label">SE Number <span class="md-req">*</span></label>
      <input type="text" class="md-input" [(ngModel)]="form.seNumber" maxlength="20" appNumbersOnly/>
    </div>
    <div class="md-field-row">
      <label class="md-label">SE Name <span class="md-req">*</span></label>
      <input type="text" class="md-input" [(ngModel)]="form.seName" maxlength="100" />
    </div>
    <div class="md-field-row md-field-row--top">
      <label class="md-label">Address <span class="md-req">*</span></label>
      <div class="md-address-stack">
        <input type="text" class="md-input" [(ngModel)]="form.address1" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address2" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address3" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address4" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address5" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address6" maxlength="100" />
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Currency <span class="md-req">*</span></label>
      <div class="md-select-wrap">
        <select class="md-input md-select" [(ngModel)]="form.currency">
          <option value=""></option>
          <option *ngFor="let c of currencies" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Country <span class="md-req">*</span></label>
      <div class="md-select-wrap">
        <select class="md-input md-select" [(ngModel)]="form.country">
          <option value=""></option>
          <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Activate this SE</label>
      <input type="checkbox" class="md-checkbox" [(ngModel)]="form.activateSE" />
    </div>
    <div class="md-field-row">
      <label class="md-label">Payment Register</label>
      <input type="checkbox" class="md-checkbox" [(ngModel)]="form.paymentRegister" />
    </div>
    <div class="md-field-row">
      <label class="md-label">Discount Rate</label>
      <input type="text" class="md-input" [(ngModel)]="form.discountRate" maxlength="10" appNumbersOnly/>
    </div>
    <div *ngIf="msg" class="md-msg"
      [class.md-msg--ok]="msgType==='ok'"
      [class.md-msg--err]="msgType==='err'">{{ msg }}</div>
    <div class="md-action-btns">
      <button class="md-btn md-btn--blue" (click)="goToAddNew()">Add New</button>
      <button class="md-btn md-btn--blue" (click)="goToModify()">Modify</button>
    </div>
  </div>
  <div *ngIf="view === 'add'" class="md-form">
    <div class="md-field-row">
      <label class="md-label">SE Number <span class="md-req">*</span></label>
      <input
        type="text"
        class="md-input"
        [class.md-input--invalid]="seInvalid"
        [(ngModel)]="form.seNumber"
        maxlength="20"
      />
      <span class="md-invalid-icon" *ngIf="seInvalid">&#9888;</span>
    </div>
    <div class="md-field-row">
      <label class="md-label">SE Name <span class="md-req">*</span></label>
      <input type="text" class="md-input" [(ngModel)]="form.seName" maxlength="100" />
    </div>
    <div class="md-field-row md-field-row--top">
      <label class="md-label">Address <span class="md-req">*</span></label>
      <div class="md-address-stack">
        <input type="text" class="md-input" [(ngModel)]="form.address1" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address2" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address3" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address4" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address5" maxlength="100" />
        <input type="text" class="md-input" [(ngModel)]="form.address6" maxlength="100" />
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Currency <span class="md-req">*</span></label>
      <div class="md-select-wrap">
        <select class="md-input md-select" [(ngModel)]="form.currency">
          <option value=""></option>
          <option *ngFor="let c of currencies" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Country <span class="md-req">*</span></label>
      <div class="md-select-wrap">
        <select class="md-input md-select" [(ngModel)]="form.country">
          <option value=""></option>
          <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Activate this SE</label>
      <input type="checkbox" class="md-checkbox" [(ngModel)]="form.activateSE" />
    </div>
    <div class="md-field-row">
      <label class="md-label">Payment Register</label>
      <input type="checkbox" class="md-checkbox" [(ngModel)]="form.paymentRegister" />
    </div>
    <div class="md-field-row">
      <label class="md-label">Discount Rate</label>
      <input type="text" class="md-input" [(ngModel)]="form.discountRate" maxlength="10" />
    </div>
    <div *ngIf="msg" class="md-msg"
      [class.md-msg--ok]="msgType==='ok'"
      [class.md-msg--err]="msgType==='err'">{{ msg }}</div>
    <div class="md-action-btns">
      <button class="md-btn md-btn--blue" (click)="onSave()">Save</button>
      <button class="md-btn md-btn--cancel" (click)="goBack()">Cancel</button>
    </div>
  </div>
  <div *ngIf="view === 'modify'" class="md-form">
    <div class="md-field-row">
      <label class="md-label">SE Number <span class="md-req">*</span></label>
      <input
        type="text"
        class="md-input"
        [class.md-input--invalid]="seInvalid"
        [(ngModel)]="form.seNumber"
        maxlength="20"
      />
      <span class="md-invalid-icon" *ngIf="seInvalid">&#9888;</span>
    </div>
    <div class="md-field-row">
      <label class="md-label">SE Name <span class="md-req">*</span></label>
      <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.seName" readonly />
    </div>
    <div class="md-field-row md-field-row--top">
      <label class="md-label">Address <span class="md-req">*</span></label>
      <div class="md-address-stack">
        <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.address1" readonly />
        <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.address2" readonly />
        <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.address3" readonly />
        <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.address4" readonly />
        <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.address5" readonly />
        <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.address6" readonly />
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Currency <span class="md-req">*</span></label>
      <div class="md-select-wrap">
        <select class="md-input md-select md-select--readonly" [(ngModel)]="form.currency" disabled>
          <option value=""></option>
          <option *ngFor="let c of currencies" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Country <span class="md-req">*</span></label>
      <div class="md-select-wrap">
        <select class="md-input md-select md-select--readonly" [(ngModel)]="form.country" disabled>
          <option value=""></option>
          <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>
    <div class="md-field-row">
      <label class="md-label">Activate this SE</label>
      <input type="checkbox" class="md-checkbox" [(ngModel)]="form.activateSE" disabled />
    </div>
    <div class="md-field-row">
      <label class="md-label">Payment Register</label>
      <input type="checkbox" class="md-checkbox" [(ngModel)]="form.paymentRegister" disabled />
    </div>
    <div class="md-field-row">
      <label class="md-label">Discount Rate</label>
      <input type="text" class="md-input md-input--readonly" [(ngModel)]="form.discountRate" readonly />
    </div>
    <div *ngIf="msg" class="md-msg"
      [class.md-msg--ok]="msgType==='ok'"
      [class.md-msg--err]="msgType==='err'">{{ msg }}</div>
    <div class="md-action-btns">
      <button class="md-btn md-btn--blue" (click)="goToAddNew()">Add New</button>
      <button class="md-btn md-btn--blue" (click)="onModify()">Modify</button>
    </div>
  </div>
</div>