<div class="vat-home">
  <h2 class="vat-home__title">Tax Invoice</h2>

  <div class="vat-home__container">
    <div class="vat-home__header"></div>

    <div class="vat-home__body">
      @if (showError) {
      <div class="vat-home__error">{{ errorMessage }}</div>
      }

      <div class="vat-home__section">
        <ui-radio-group
          name="customerType"
          orientation="horizontal"
          [options]="customerTypeOptions"
          [(ngModel)]="selectedCustomerType"
          (ngModelChange)="onCustomerTypeChange($event)"
        >
        </ui-radio-group>
      </div>

      <div class="vat-home__section">
        <ui-radio-group
          name="searchType"
          orientation="horizontal"
          [options]="searchTypeOptions"
          [(ngModel)]="selectedSearchType"
          (ngModelChange)="onSearchTypeChange($event)"
        >
        </ui-radio-group>
      </div>

      @if(selectedSearchType === 'vat'){

      <div class="vat-home__grid">
        <div class="vat-home__field">
          <label class="vat-home__label"> Impersonation </label>

          <ui-input
            [(ngModel)]="impersonation"
            type="text"
            placeholder=""
          ></ui-input>
        </div>
      </div>

      <div class="vat-home__grid two-column">
        <div class="vat-home__field">
          <label class="vat-home__label">
            VAT Registration Number
            <span>*</span>
          </label>

          <ui-input
            [(ngModel)]="searchValue"
            type="text"
            placeholder=""
          ></ui-input>
        </div>

        <div class="vat-home__field">
          <label class="vat-home__label"> VAT Registered Country </label>

          <select class="vat-home__select" [(ngModel)]="selectedCountry">
            @for(country of countries; track country){

            <option [value]="country">{{country}}</option>

            }
          </select>
        </div>
      </div>

      <div class="vat-home__grid two-column">
        <div class="vat-home__field">
          <label class="vat-home__label"> Report for month </label>

          <select class="vat-home__select" [(ngModel)]="selectedMonth">
            @for(month of months; track month){

            <option [value]="month">{{month}}</option>

            }
          </select>
        </div>

        <div class="vat-home__field">
          <label class="vat-home__label"> Report for year </label>

          <select class="vat-home__select" [(ngModel)]="selectedYear">
            @for(year of years; track year){

            <option [value]="year">{{year}}</option>

            }
          </select>
        </div>
      </div>

      } @if(selectedSearchType === 'invoice'){

      <div class="vat-home__grid">
        <div class="vat-home__field">
          <label class="vat-home__label"> Invoice Number </label>

          <ui-input
            [(ngModel)]="searchValue"
            type="text"
            placeholder=""
          ></ui-input>
        </div>
      </div>

      } @if(selectedSearchType === 'control'){

      <div class="vat-home__grid">
        <div class="vat-home__field">
          <label class="vat-home__label"> Basic Control Account </label>

          <ui-input
            [(ngModel)]="searchValue"
            type="text"
            placeholder=""
          ></ui-input>
        </div>
      </div>

      }

      <div class="vat-home__button-row">
        <ui-button label="Generate Report" (click)="generateReport()">
        </ui-button>
      </div>
    </div>
  </div>

  @if (invoice) {

  <app-vat-invoice-report [invoice]="invoice" (downloadPDF)="downloadPdf()">
  </app-vat-invoice-report>

  }
</div>
